
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preload" href="./main.css?v=<%= htmlWebpackPlugin.options.version %>" as="style" onload="this.rel='stylesheet'">
    <title>react-startkit</title>
</head>
    <div id="app"></div>
    <h1>test</h1>
    <script type="text/javascript" src="./vendors.js?v=<%= htmlWebpackPlugin.options.version %>" defer></script>
    <script type="text/javascript" src="./main.js?v=<%= htmlWebpackPlugin.options.version %>" defer></script>
<body>
    
</body>
</html>